body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

table {
  border-collapse: collapse;
}

td {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid black;
  text-align: center;
}

h2{
  margin-top: 1rem;
  text-align: center;
}

.tetris-game-container{
  display: none;
}

.tetris-game-container-active{
  display: flex;
  gap: 0.5rem;
  height: 80vh;
}

.tetro-container{
  font-size: 12px;
}


@media screen and (min-width: 650px) {
  .tetris-game-container-active {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  width: 100%;
  gap: 2rem;
  }

  .tetro-container{ 
    font-size: 1rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns the stacked items to the right */
  }
  
  #tetris{
    grid-column: 2; 
    text-align: center;
    height: auto;
  }

}


.btn-container{
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.start-btn, .pause-btn{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0;
  border-width: 1px;
  transition-duration: 0.4s;

}

.start-btn:hover{
 cursor: pointer;
 
}

.start-btn:disabled{
 cursor: auto;
} 

.intro-container{
  margin-top: 1rem;
}
